body {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: #3a2304;
}

h2 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 3rem;
}

h3 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.3rem;
}

#me {
    padding: 0px;
    margin: 0px;
}

#header {
    background-color: #ffbd59;
}


#header h1 {
    text-align: center;
    font-family: 'Cardo', serif;
    font-weight: 700;
    color: #e18430;
    font-size: 5rem;
    margin: 0;
}

#header p {
    padding: 0;
    text-align: center;
    color: #e18430;
    font-family: 'Cardo', serif;
    font-style: italic;
    font-size: 1.5rem;
}

#tagline {
    font-weight: bolder;
    font-size: 1.7rem !important;
}

#header-text {
    padding: 130px 0px;
}

#headshot-section img {
    border-radius: 50%;
}

#tldr {
    background-color: #dadde7;
}

.white-logo-bg {
    padding: 10px;
    margin: 50px 20px;
    display: flex;
    align-items: center;
    background-color: white;
    height: 130px;
    width: 130px;
    border-radius: 15%;
}

#values {
    position: relative;
    padding: 50px;
    background-color: #B9EBFF;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(10, 80px);
    row-gap: 60px;
    padding-bottom: 150px;

}

#my-values-header {
    font-weight: 700;
}

.value-card {
    border-radius: 30px;
    padding: 20px;
    grid-row: span 2;
}

.value-card h3 {
    font-weight: 700;
    font-size: 1.8rem;
}

#team {
    position: absolute;
    height: 130px;
    right: -20px;
    bottom: -30px;
}

#idea {
    position: absolute;
    height: 150px;
    left:-50px;
    bottom: -50px;
}

#independence p {
    max-width: 300px;
    text-align: end;
    display: inline-block;
    
}

#independence {
    align-items: flex-end;
}

@media (min-width: 991px) {
    
    #values {
        grid-template-rows: repeat(5, 80px);
        grid-template-columns: repeat(2, 380px);
        row-gap: 50px;
        column-gap: 80px;
    }
    #my-values-header {
        grid-column: 1 2;
        grid-row: span 1;
    }
    
    .value-card p {
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        font-size: 1.1rem;
    }
    
    #independence, #reliability {
        text-align: end;
    }
    
    #craftsmanship p {
        max-width: 200px;
    }
    
    #team {
        height: 230px;
        right: -90px
    }
    
    #idea {
        height: 220px;
        left:-70px;
        bottom: -50px;
    }
    
}



.card-icon {
    position: absolute;
    height: 80px;
    object-fit: contain;
}


#todoist {
    top: 210px;
    right: 15px;
    height: 60px;
}

#obsidian {
    top: 170px;
    right: -45px;
    height: 75px;
}

#gtd {
    display: none;
}

#basb {
    display: none;
}

/* To hide the books on small screen */
@media (min-width: 991px) {
    #gtd {
        display: block ;
        left: -30px;
        top: 165px;
        height: 130px;
    }

    #basb {
        display: block;
        left: 0px;
        top: 190px;
        height: 130px;
    }
}


#icl {
    bottom: -18px;
    height: 25px;
    right: 170px;
}

#iso {
    bottom: -60px;
    right: 80px;
}

#ccp {
    bottom: -35px;
    right: -10px;
}

#psm {
    bottom: 30px;
    right: -65px;
}

#skills {
    background-color: #dadde7;
    box-sizing: border-box;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
      
}

/* Hide the logos on small screen */
.logos {
    display: none;
}

.skills-lists {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.skills-lists > div {
    text-align: start;
}

@media (min-width: 991px) {
    .logos {
        display: block;
    }

    .skills-lists {
        display: none;
    }
}

.logos {
    overflow: hidden;
    white-space: nowrap;
    padding: 50px 0;
    background-color: white;
    position: relative;
}

.logos:before , .logos:after {
    position: absolute;
    top: 0;
    
    content: "";
    z-index: 2;
    width: 200px;
    height: 100%;
}

.logos:before {
    background: linear-gradient(to left, rgba(255,255,255,0), white);
    left: 0;
}

.logos:after {
    background: linear-gradient(to right, rgba(255,255,255,0), white);
    right: 0;
}

.logos.hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: slide 10s infinite linear;

    
}

.logos-slide img {
    height: 100px;
    margin: 0 30px;
}

.rounded-corners {
    border-radius: 30px;
    background-color: white;
    padding: 50px;
}

#contact-buttons a {
    margin-top: 10px;
    margin-bottom: 500px;
}

.action-buttons-row a {
    background-color: #e18430;
    color: white;
}